<p>
  <mat-toolbar color="primary">
    <span>Simple login app</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/login" *ngIf="!authService.isAuthenticated">Login</button>
    <button mat-button *ngIf="authService.isAuthenticated" (click)="authService.logout()">Logout</button>
    <button mat-button routerLink="/profile" *ngIf="authService.isAuthenticated">Profile</button>
    <button mat-button routerLink="/dashboard" *ngIf="authService.isAuthenticated">Dashboard</button>
  </mat-toolbar>
</p>
